<div class="w-full h-full max-w-[100vw] gap-[24px] px-[16px] py-[16px] flex flex-col">
    <tables-filter (clearFilter)="fetchTables()" (filterTables)="filterTables($event)"></tables-filter>

    <div class="scroll w-full h-full max-w-[100vw] overflow-x-auto gap-[24px]  px-[48px] flex overflow-y-hidden">
        <table (fetchNewTask)="refreshTable($event)" (deletedTable)="deleteTable($event)" *ngFor="let table of tables"
            class="h-full" [table]="table"></table>
    </div>
</div>

<a routerLink="/add_table"
    class="plus font-semibold shadow-lg shadow-indigo-500/60 text-white flex items-center justify-center 
    p-0 m-0 w-[64px] bg-custom-green h-[64px] rounded-full absolute bottom-[24px] right-[40px] -translate-x-full cursor-pointer"></a>