<div class="h-[80vh] w-[380px] relative flex-col flex shadow-lg shadow-indigo-500/60 rounded bg-white border-solid border-4 p-[16px]"
    [style.borderColor]="table.color">
    <table-tools class="absolute top-[16px] right-[4px]" (deletedTable)="deleteTable()"
        (updatedTable)="updateTable()"></table-tools>
    <p class="text-lg text-center">{{table.name}}</p>
    <p class="text-sm text-center">{{table.description}}</p>
    <div class="w-full flex items-center justify-center pt-[16px] flex-col">
        <task-tools (addedNewTask)="fetchTasks()" [tableId]="table.id"></task-tools>
    </div>
    <div class="min-h-0 max-h-full h-full overflow-y-auto scroll flex-col gap-[2px] mt-[8px]">
        <task-info (fetchTasks)="fetchTasks()" [task]="task" *ngFor="let task of table.tasks"></task-info>
    </div>
</div>